
@{
    ViewData["Title"] = "Discounts";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<div class="container">
    <br><br>
    <h1 class="header center orange-text">Check our discounts!</h1>
    <table>
        <thead>
            <tr>
                <th data-field="id">Foto</th>
                <th data-field="name">Nazwa</th>
                <th data-field="price">Cena</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        Foto
                        @* <a href="@Url.Action("Details",new {id=product.IdProduct})">
            <img alt="@product.Name" src="@product.FotoURL" height="40" width="40" />
                           </a> *@
                    </td>
                    <td><a asp-action="Details" asp-route-id="@product.IdProduct">@product.Name</a></td>
                    <td>@product.Price.ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table>
</div>